.cursos_2016 body{
		background: transparent;
		box-sizing: border-box;
		padding: 0 2%;
	}
	h1{
		border-bottom: thin solid #464646;
		margin-top: 20px;
		font-size: 4em;
		font-family: 'Open Sans', sans-serif;
		color:#171717;
	}
	h2{
		border-bottom: thin solid #464646;
		margin-top: 15px;
		font-size: 2.5em;
		font-family: 'Open Sans', sans-serif;
		color:#171717;
	}
	a{
		color: #006C6C;
		text-decoration: none;
	}
	a:hover{
		text-decoration: underline;
	}
	.list{
		box-sizing: border-box;
		display: block;
		vertical-align: top;
		padding: 5px;
		margin: 5px 0;
		width: 100%;
	}
	.list:nth-child(odd) { background: #BCBCBC;}
	.list:nth-child(even) { background: #fff;}
	span{
		box-sizing: border-box;
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		vertical-align: top;
	}
	.name{
		font-size: 1.5em;
		font-weight: 700;
		width: 15%;
	}
	.description{
		font-size: 1.2em;
		width: 65%;
	}
	.estado::after{
		content: "";
  	display: table;
  	clear: both;
	}
	.estado{
		background: #DDDDDD;
		border: 2px dotted #1F1F1F;
		text-align: center;
		font-size: 1.2em;
		float: right;
		height: 30px;
		width:15%;
	}
	.estado::before{
	content: attr(data-estado);
  vertical-align: middle;
	}
	.fa{
		color:#FF46A3;
	}
	.fecha{
		font-size: 2.5em;
	}
	footer{
		text-align: center; 
		font-size: 1.5em;
		font-family: 'Open Sans', sans-serif;
		margin-top: 2em;
	}
	@media (max-width: 700px) {
		h1{
			margin-top: 15px;
			font-size: 3em;
			font-family: 'Open Sans', sans-serif;
			color:#171717;
			text-align:center;
		}
		h2{
			margin-top: 10px;
			font-size: 2em;
			font-family: 'Open Sans', sans-serif;
			color:#171717;
		}
		.name{
			text-align: center;
			font-size: 1em;
			width: 100%;
		}
		.description{
			font-size: .7em;
			width: 100%;
		}
		.estado{
			font-size: .7em;
			float: none;
			width:100%;
		}
		a{
			display:block;
		}
		.link-author{
			display: inline-block;
		}
	}