div, p{
	display: block;
}
body{
	background-image: url("http://01luisrene.com/assets/images/fondo-ie.jpg");
	background-color: #313131;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    position: relative;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
}
.contenedor_text_pasion {
  display: block;
  background-color: #2A2A2A;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -3px;
  z-index: 100;
}
.contenedor_text_pasion p{
  display: block;
  font-size: 1em;
  color: #FEFF27;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}