body{
	background-image: url("http://01luisrene.com/assets/images/bg/fondo-ie.jpg");
	background: #313131;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
}