---
layout: blog
description: "Blog 01luisrene: diseñado para publicar contenidos relacionado con HTML5, CSS3, JavaScript, etc. Y así poder compartirlo con los múltiples usuarios que están listos para aprender algo nuevo todos los días."
photo_url: "/assets/images/cover_home.jpg"
---
<section class="loop__articles">
{% for post in site.posts limit:15 %}
  <article class="item-article">
    {% if post.photo_url %}
    <a class="img-link" href="{{ post.url | prepend: site.url }}">
      <img class="loop-image" src="{{ post.photo_url }}" alt="{{ post.title }}">
    </a>
    {% endif %}
    <header class="loop-header">
      <h2 class="loop-title" >
        <a class="loop-link" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
      </h2>
      <span class="loop-meta"><i class="fa fa-calendar-o"></i> {{ post.date | date: "%b %-d, %Y" }}</span>
    </header>
    <section class="loop-description">
      {% if post.description %}
      <p class="loop-body">{{ post.description | strip_html}}...</p>
      {% endif %}
    </section>
    <footer class="loop-footer">
      <a class="btn btn-home" href="{{ post.url | prepend: site.url }}">Leer m&aacute;s <i class="fa fa-angle-double-right"></i></a>
    </footer>
  </article>
{% endfor %}
</section>
<div class="btn-more-articles">
 <a href="/lista-articulos/">Ver más artículos...</a>
</div>

<p class="rss-subscribe">Suscribete <a class="fa fa-rss-square fa-2x" href="{{ "/rss.xml" | prepend: site.url }}" target="_blank"></a> vía rss</p>