<!-- Footer -->
<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><span class="footer-name-app">{{ site.title }}</span></li>
          <div class="separador"></div>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <img src="{{'/assets/images/logo.png' | prepend: site.url }}" alt="Logo" title="Logo" style="display: block; margin: 0 auto;" width="100">
      </div>

      <div class="footer-col footer-col-2">
        <span class="title-footer">Redes Sociales</span>
        <ul class="social-media-list">
          <li>
            <i class="fa fa-twitter"></i> <a href="{{ site.twitter}}">Twitter</a>
          </li>
          <li>
          <i  class="fa fa-google-plus"></i> <a href="{{ site.google_plus}}">Google Plus</a>
          </li>
          <li>
          <i class="fa fa-facebook"></i> <a href="{{ site.youtube}}">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <span class="title-footer">Descripción</span>
        <p>{{ site.description }}</p>
      </div>
    </div>
      <!-- div para copy -->
      <div class="footer-col copy">
        <p class="copy-parrafo"><i class="fa fa-copyright"></i> copyright 2015 - {{ site.time | date: '%Y' }} ( Todos los Derechos Reservados ) - Web Master: <b>01luisrene</b></a>
        </p>
      </div>
  </div>
</footer>
<!-- Política de cookies  -->
<div class="barra-aceptacion-cookie" id="js_barra_aceptacion_cookie" style="display: none;">
  <p> Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies. 
  <a href="/politica-cookies/"  class="info-cookie" target="_blank">Más información</a>
  <button id="js_btn_cookie" class="btn-cookie btn-link">Ok</button>
  </p>
</div>

<!-- Botón up -->
<a href="#" id="js_up" class="boton-subir">
  <i class="fa fa-rocket" aria-hidden="true"></i>
</a>

<script src="{{ "/assets/js/app.min.js" | prepend: site.url }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', load, false);
  function load() {
    loadCSS('/assets/css/styles.css');
    loadCSS('/assets/css/vendor.css');
    loadCSS('//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');
    loadCSS('//fonts.googleapis.com/css?family=Noto+Sans:400,700');
    loadCSS('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
  }
  function loadCSS(href, before, media) {
    'use strict';
    var css = window.document.createElement('link');
    var ref = before || window.document.getElementsByTagName("script")[0];
    css.rel = "stylesheet";
    css.href = href;
    css.media = "only x";
    ref.parentNode.insertBefore(css, ref );
    setTimeout( function(){
      css.media = media || "all";
    });
    return css;
  }
</script>

{% if jekyll.environment == "production" %}
  {% include analytics.html %}
{% endif %}
