<!--[if lt IE 8]>
<div class="browser-antiguo">
    <p class="browserupgrade">Está utilizando un navegador <strong>antiguo</strong>. Por favor <a href="http://browsehappy.com/">actualice su navegador</a> para mejorar su experiencia.</p>
</div>
 <![endif]-->
<header class="site-header">
  <div class="wrapper">
    <figure class="img-logo">
      <a href="{{ site.url }}"><img src="{{ "/assets/images/logo.png" prepend: site.url }}" alt="Logo" title="01LuisRene"></a>
    </figure>

    <div class="box-icons">
      <a href="#" class="icon-menu" id="js_icon_menu">
        <span></span>
      </a>
      <a href="/lista-articulos" class="icon-buscador fa fa-search" title="Buscador" id="js_icon_buscador" style="float: right;"></a>
    </div>

    <nav class="main-menu" id="js_main_menu" style="display: none;">
        <a class="fa fa-times icon-cerrar" href="#" id="js_icon_cerrar"></a>
       <ul class="lista-menu">
          <li class="lista-item">
            <a href="/" title="Inicio"><i class="fa fa-home"></i> Inicio</a>
         </li>
         <li class="lista-item">
           <a href="{{ site.url }}/habilidades-conocimientos/"{% if page.url contains "/habilidades-conocimientos/" %}class="active"{% endif %} title="Habilidades - Conocimientos">Habilidades - Conocimientos</a>
         </li>
         <li class="lista-item">
           <a href="{{ site.url }}/curriculum-vitae/"{% if page.url contains "/curriculum-vitae/" %}class="active"{% endif %} title="Curriculum vitae">Curriculum Vitae</a>
         </li>
         <li class="lista-item">
           <a href="{{ site.url }}/contacto/"{% if page.url contains "/contacto/" %}class="active"{% endif %} title="Contacto">Contacto</a>
         </li>
         <li class="lista-item">
           <a href="{{ site.url }}/acerca/"{% if page.url contains "/acerca/" %}class="active"{% endif %} title="Acerca">Acerca</a>
         </li>
       </ul>
    </nav>

  </div>
</header>