	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="application-name" content="01luisrene v1.0"/>
	<title>{% if page.title %}{{ page.title }} &#171; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>

	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"/>
	<link rel="shortcut icon" href="{{"/favicon.ico" site.url | prepend: site.baseurl }}"/>
	<link rel="icon" type="image/png" href="{{"/favicon-32x32.png" site.url | prepend: site.baseurl }}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{"/favicon-16x16.png" site.url | prepend: site.baseurl }}" sizes="16x16" />
	
	<link rel="canonical" href="{{ prepend: site.url | replace:'index.html','' | prepend: site.baseurl }}"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700|Lobster+Two:700|Oswald:300" />
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie.css" | prepend: site.baseurl }}"><![endif]-->
	<link rel="stylesheet" href="{{ "/assets/css/libs/highlightjs-agate.css" | prepend: site.baseurl }}"/>
	<script src="{{ "/assets/js/libs/modernizr.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/js/libs/prefixfree.min.js" | prepend: site.baseurl }}"></script>
