<section class="box-suscripcion animated slideInUp" id="js_box_suscripcion" style="display: none;">
    <button class="js_close_suscripcion btn-close">x</button>
    <div id="mc_embed_signup">
    <form action="//01luisrene.us12.list-manage.com/subscribe/post?u=13dd8f669ff986ba5a07a3ec2&amp;id=dc87d76c65" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <label class="title-suscripcion" for="mce-EMAIL">Suscríbase a nuestro newsletter</label>
        <p class="descripcion-suscripcion">Si te gusta lo que lees, suscribete a nuestra lista de correos.</p>
        <input class="email-txt" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Correo electrónico" required>

        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="boton-suscripcion js_boton_suscripcion">
        </div>
        <!-- personas reales no deben rellenar este campo y esperar las cosas buenas - no eliminar este riesgo o en forma de robot inscribirse-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_13dd8f669ff986ba5a07a3ec2_dc87d76c65" tabindex="-1" value=""></div>
    </form>
    </div>
</section>