---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts limit:15 %}
      <li>
        <span class="post-meta"><i class="fa fa-calendar-o"></i> {{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.photo_url %}
        <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.description %}
        <span class="body">{{ post.description | markdownify }}</span>
        {% else %}
        <span class="body">{{ post.excerpt | strip_html }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>