<!DOCTYPE html>
<html lang="es">
<head>
  {% include head.html %}
</head>

  <body class="template-no-home">

    {% include header.html %}
    {% if page.portada_url%}
    <div class="portada-post" style="background-image:url('{{ page.portada_url }}')"></div>
  	{% endif %}
	<div class="page-content">
      <div class="wrapper">
    	{{ content }}
      </div>
    </div>
    {% include footer.html %}
    <script async src="https://assets.codepen.io/assets/embed/ei.js"></script>
    {% include autoreload-in-debug.html %}
  </body>

</html>